@import "../../assets/partials/base";
@import "../../assets/partials/theme";
@import "../../assets/partials/variables";

.nav-container {
    @extend %container-styles;
    padding: 0 2rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    @media only screen and (max-width: $bp-smallest){
        flex-wrap: wrap;
        padding-top: 2rem;
    }

    &--dark {
        @include theme($dark-theme-colors);
    }

    &--light {
        @include theme($light-theme-colors);
    }
}

.paragraph {
    color: hsl(234, 11%, 52%);
    font-size: 1.6rem;
    font-weight: 400;
}

.clear-btn{
    font-family: "Josefin Sans", sans-serif;
    color: hsl(234, 11%, 52%);
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    transition: all .2s ease;
    cursor: pointer;

    &--dark:hover{
        @include dark-theme-hover;
    }

    &--light:hover{
        @include light-theme-hover;
    }

    @media only screen and (max-width: $bp-smallest){
        order: 1;
    }
}


.nav{
    list-style: none;
    display: flex;

    @media only screen and (max-width: $bp-smallest){
        order: 2;
        width: 100%;
        justify-content: center;
    }

    &__item{
        &:not(:last-child){
            margin-right: 2rem;
        }

    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: $Dark-Grayish-Blue;
        display: block;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 2rem .5rem;
        transition: all .2s;
    }

    &__link--dark:hover{
        @include dark-theme-hover;
    }

    &__link--light:hover{
        @include light-theme-hover;
    }

    & .active{
        color: $Bright-Blue;
    }
}